{% extends "base.html" %}

{% block body %}
<!--<div style="color:gray;">Hello world, {{ name }}</div>
<div style="color:#d29b99;">Hello world, jacob</div>
<div style="color:#94ddb6;">Hello world, isac</div> -->
<!--<div class="colorful-text">Hello world, {{ name }}</div>
<div class="colorful-text">Hello world, jacob</div>
<div class="colorful-text">Hello world, isac</div>-->
<div class="container">
  <div class="col-xs-6">
    <div class="colorful-text">
      <!-- <div>Hello world, {{ name }}</div> -->
      <div>Hello world, jacob</div>
      <div>Hello world, isac</div>
    </div>
  </div>
  <div class="col-xs-6">
    {% for article in article_list %}
      <div>
        {{ article.title }}
        <span class="label label-default">{{ article.view_count }}</span>
      </div>
    {% endfor %}
  </div>
  <div class="col-xs-12">
    <i class="fa fa-stop" aria-hidden="true"></i>
    <i class="fa fa-play" aria-hidden="true"></i>
    <i class="fa fa-play fa-spin" aria-hidden="true"></i>
  </div>
</div>
{% endblock %}
