{% extends "base.html" %}

{% block body %}
<!--<div style="color:gray;">Hello world, {{ name }}</div>
<div style="color:#d29b99;">Hello world, jacob</div>
<div style="color:#94ddb6;">Hello world, isac</div> -->
<!--<div class="colorful-text">Hello world, {{ name }}</div>
<div class="colorful-text">Hello world, jacob</div>
<div class="colorful-text">Hello world, isac</div>-->
<div class="colorful-text">
  <!-- <div>Hello world, {{ name }}</div> -->
  <div>Hello world, jacob</div>
  <div>Hello world, isac</div>
  {% for article in article_list %}
    <div>{{ article.title }}</div>
  {% endfor %}
</div>
{% endblock %}
